<div class="card search">
  <h1 class="search-headline">Listado de artistas</h1>
  <label class="search-label">Buscar
    <span *ngIf="consulta"
      [innerHTML]="' por: ' + consulta"></span></label>
    <input (keyup)="artistaActual=''" class="search-input" [(ngModel)]="consulta" placeholder="Escribe un nombre" >
</div>
<!-- card search -->

<ul class="artistlist cf" *ngIf="artistaActual == null || artistaActual == ''">
  <li class="artistlist-item cf" (click)="verArtista(item); consulta=''" *ngFor="let item of (artistas | busquedaArtista: consulta)">
    <app-artista-component class="content" [artista]=item></app-artista-component>
  </li>
</ul>

<app-artista-detalle *ngIf="artistaActual" [artista]="artistaActual">  
</app-artista-detalle>